# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity auto generated
*.pidb
*.suo
*.userprefs
*.unityproj
*.booproj

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln

# Crash reports
sysinfo.txt
